<!doctype html>
<html>
   <body style="background-color: white; margin-top:50px; margin-left: 600px;
    font-family: 'Times New Roman';  color: black">
   <h1 style="text-align: center">
   
      <h3>PROFIT REPORT</h3>
      <h3>Cost</h3>
      <p>{{c}}</p>

      <h3>Proceeds</h3>
      <p>{{p}}</p>



      <h3>Cost Details</h3>
      <h3>Total Purchase Price</h3>
      <p>{{tpp}}</p>

      <h3>Buy Commission = {{bc}}</h3>

      <h3>Sell Commission = {{sc}}</h3>

      <h3>Tax on Capital Gain = {{t}}</h3>

      <h3>Net Profit</h3>
      <p>{{np}}</p>

      <h3>Return on Investment</h3>
      <p>{{ri}}</p>

      <h3>To break even, you should have a final share price of</h3>
      <p>{{brk}}</p>
   </h1>
   </body>
</html>